body {
    margin: 0;
}

h1 {
    display: flex;
    margin-top: 10px;
    font-size: 52px;
    color: rgb(247, 238, 238);
    justify-content: center;
    align-items: flex-start;
}

section {
    display: flex;
    flex-direction: column;
    background-image: url(fundo2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.img-bateria {
    width: 62%;
    height: 83vh;
    margin-left: 16%;
    background-image: url(Bateria2.png);
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    gap: 15px;
}
.botao{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    cursor: pointer;
    transition: transform .2s;
}
.botaoa{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    margin-top: 354px;
    margin-left: 90px;
    cursor: pointer;
}
.botaos{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    margin-top: 333px;
    margin-left: 135px;
    cursor: pointer;
}
.botaod{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    margin-top: 169px;
    margin-left: 6px;
    cursor: pointer;
}
.botaog{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    margin-top: 169px;
    margin-left: 135px;
    cursor: pointer;
}

.botaog{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    margin-top: 169px;
    margin-left: 135px;
    cursor: pointer;
}

.botaoj{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    margin-top: 333px;
    margin-left: 135px;
    cursor: pointer;
}
.botaoh{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    margin-top: 90px;
    margin-left: -35px;
    cursor: pointer;
}