body {
    margin: 0;
}

h1 {
    display: flex;
    margin-top: 10px;
    font-size: 52px;
    color: rgb(247, 238, 238);
    justify-content: center;
    align-items: flex-start;
}

section {
    display: flex;
    flex-direction: column;
    background-image: url(fundo2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.img-bateria {
    width: 62%;
    height: 83vh;
    margin-left: 16%;
    background-image: url(Bateria2.png);
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    gap: 15px;
}
.botaoa{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    height: 62px;
    width: 50px;
    margin-top: 354px;
    margin-left: 80px;
    cursor: pointer;
}
.botaos{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    height: 62px;
    width: 50px;
    margin-top: 333px;
    margin-left: 125px;
    cursor: pointer;
}
.botaod{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    height: 62px;
    width: 50px;
    margin-top: 169px;
    cursor: pointer;
}
.botaoh{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    height: 62px;
    width: 50px;
    user-select: none;
    margin-top: 169px;
    margin-left: 115px;
    cursor: pointer;
}

.botaoj{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    height: 62px;
    width: 50px;
    margin-top: 333px;
    margin-left: 115px;
    cursor: pointer;
}
.botaok{   
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-size: calc(3vw + 13px);
    user-select: none;
    height: 62px;
    width: 50px;
    margin-top: 90px;
    margin-left: -45px;
    cursor: pointer;
}

.active{
    transform: scale(1.3);
    border-color: #060606;
    box-shadow: 0 0 50px #000000;
    
}