body {
    margin: 0;
}

h1 {
    display: flex;
    margin-top: 10px;
    font-size: 52px;
    color: rgb(247, 238, 238);
    justify-content: center;
    align-items: flex-start;
}

section {
    display: flex;
    flex-direction: column;
    background-image: url(fundo2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.img-bateria {
    width: 62%;
    height: 83vh;
    margin-left: 16%;
    background-image: url(Bateria2.png);
    background-size: cover;
    background-position: center;
}